/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(47, 88%, 63%); /* Jaune */
  font-family: "Segoe UI", Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Centrage général */
.blog {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Carte */
.blog-card {
  background: white;
  width: 330px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 8px 8px 0px rgb(0, 0, 0);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Image du haut */
.blog-card .img {
  width: 100%;
  border-radius: 10px;
}

/* Étiquette */
.btn {
  background: hsl(47, 88%, 63%);
  padding: 6px 12px;
  border-radius: 6px;
  width: fit-content;
  font-weight: bold;
  font-size: 14px;
}

/* Date */
.date {
  font-size: 14px;
  color: hsl(0, 0%, 30%);
}

/* Titre */
h1 {
  font-size: 22px;
}

h1:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

/* Paragraphe de description */
.blog-card p {
  font-size: 14px;
  color: hsl(0, 0%, 40%);
  line-height: 1.4;
}

/* Profil */
.profil {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profil-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  color: black;
}

/* ------- Attribution ------- */
.attribution {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  color: hsl(0, 0%, 20%);
  padding: 30px;
  margin: 30px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.attribution a:hover {
  text-decoration: underline;
}

/* RESPONSIVE MOBILE */
@media (max-width: 400px) {
  .blog {
    width: 100%;
    padding: 18px;
  }

  h1 {
    font-size: 20px;
  }

  .blog p {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .attribution {
    font-size: 11px;
    margin-top: 15px;
  }
}

/* Responsive grands écrans */
@media (min-width: 1400px) {
  .blog {
    transform: scale(1.1);
  }
}
