* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 50px auto;
  background-color: hsl(47, 88%, 63%);
  width: 30vw;
  height: 40vh;
}

.blog {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid hsl(0, 0%, 42%);
  border-radius: 16px;
  background-color: hsl(0, 0%, 100%);
  width: 20vw;
  height: 57vh;
  box-shadow: 5px 7px hsl(0, 0%, 7%);
}

.blog-card {
  margin: 5px;
  padding: 5px;
}

h1,
p {
  margin: 3px;
  padding: 3px;
  font-size: 13px;
}

h1 {
  font-size: 15px;
  font-weight: bold;
  margin: 6px;
}
.img {
  width: 100%;
  height: 180px;
  padding: 4px;
  border-radius: 22px;
}

.profil {
  display: flex;
  margin-top: 13px;
  position: relative;
}
.name {
  width: 80px;
  height: 60px;
  position: absolute;
  right: 210px;
  bottom: -42px;
  font-weight: bold;
}
.btn {
  background-color: hsl(47, 88%, 63%);
  border: 1px solid transparent;
  border-radius: 4px;
  width: 60px;
  text-align: center;
}
.profil-img {
  width: 20px;
  height: 20px;
}
.attribution {
  font-size: 11px;
  margin: 50px;
  padding: 50px;
}
.attribution a {
  text-decoration: none;
  color: hsl(0, 0%, 7%);
}

@media (min-width: 375px) {
  .blog {
    width: 50vw;
    height: 47vh;
  }
  .img {
    width: 100%;
    height: 130px;
    padding: 4px;
    border-radius: 20px;
  }
  h1,
  p {
    margin: 3px;
    padding: 3px;
    font-size: 10px;
  }
  .name {
    right: 65px;
    bottom: -42px;
    font-weight: bold;
  }

  .attribution {
    display: inline-block;
    margin: 50px auto;
    font-size: 10px;
  }

  .attribution a {
    text-decoration: none;
    text-align: center;
  }
}

@media (min-width: 360px) and (max-width: 370px) {
  .blog {
    width: 50vw;
    height: 42vh;
  }

  .img {
    height: 130px;
    padding: 4px;
    border-radius: 20px;
  }
  .name {
    right: 54px;
    bottom: -42px;
    font-weight: bold;
  }
  h1,
  p {
    margin: 3px;
    padding: 3px;
    font-size: 10px;
  }
  .attribution {
    display: inline-block;
    margin: 50px auto;
    font-size: 10px;
  }

  .attribution a {
    text-decoration: none;
    text-align: center;
  }
}

@media (min-width: 344px) and (max-width: 350px) {
  .blog {
    width: 50vw;
    height: 34vh;
  }
  .img {
    height: 110px;
    padding: 4px;
  }
  h1,
  p {
    margin: 3px;
    padding: 3px;
    font-size: 10px;
  }

  .name {
    right: 47px;
    bottom: -42px;
    font-weight: bold;
  }
  .attribution {
    display: inline-block;
    margin: 50px auto;
    font-size: 10px;
  }

  .attribution a {
    text-decoration: none;
    text-align: center;
  }
}

@media (min-width: 390px) and (max-width: 412px) {
  .blog {
    width: 50vw;
    height: 34vh;
  }
}

@media (min-width: 412px) and (max-width: 430px) {
  .name {
    right: 80px;
    bottom: -42px;
    font-weight: bold;
  }
}

@media (min-width: 414px) and (max-width: 430px) {
  .blog {
    width: 50vw;
    height: 34vh;
  }
}

@media (min-width: 430px) {
  .name {
    right: 89px;
    bottom: -42px;
    font-weight: bold;
  }
}

@media (min-width: 540px) and (max-width: 700px) {
  .blog {
    width: 50vw;
    height: 47vh;
  }
  .name {
    right: 146px;
    bottom: -42px;
    font-weight: bold;
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  .blog {
    width: 50vw;
    height: 40vh;
  }
  .img {
    height: 190px;
    padding: 4px;
  }
  .attribution {
    display: inline-block;
    margin: 50px auto;
    font-size: 10px;
  }

  .name {
    right: 260px;
    bottom: -42px;
    font-weight: bold;
  }

  .attribution a {
    text-decoration: none;
    text-align: center;
  }
}

@media (min-width: 820px) and (max-width: 853px) {
  .blog {
    width: 50vw;
    height: 30vh;
  }
  .name {
    right: 284px;
    bottom: -42px;
    font-weight: bold;
  }
}

@media (min-width: 853px) and (max-width: 912px) {
  .img {
    height: 200px;
    padding: 4px;
  }
  .attribution a {
    text-decoration: none;
    text-align: center;
  }
  .attribution {
    display: inline-block;
    margin: 50px auto;
    font-size: 10px;
  }
  .name {
    right: 298px;
    bottom: -42px;
    font-weight: bold;
  }
}

@media (min-width: 912px) {
  .blog {
    width: 50vw;
    height: 37vh;
  }
  .img {
    height: 230px;
    padding: 4px;
  }

  h1,
  p {
    margin: 5px;
    padding: 5px;
    font-size: 12px;
  }
  .name {
    right: 330px;
    bottom: -42px;
    font-weight: bold;
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .blog {
    width: 50vw;
    height: 40vh;
  }

  .img {
    height: 280px;
    padding: 4px;
  }
  p {
    margin: 5px;
    padding: 5px;
    font-size: 14px;
  }
  .name {
    right: 390px;
    bottom: -42px;
    font-weight: bold;
    font-size: 12px;
  }
}

@media (min-width: 1280px) {
  .blog {
    width: 50vw;
    height: 80vh;
  }
  .img {
    height: 400px;
    padding: 4px;
  }
  .name {
    right: 516px;
    bottom: -42px;
    font-weight: bold;
    font-size: 12px;
  }
}

@media (min-width: 1440px) {
  .name {
    right: 560px;
    bottom: -42px;
    font-weight: bold;
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  .blog {
    width: 50vw;
    height: 80vh;
  }
}
